:root {
  --primary-color1: rgb(236, 213, 207);
  --primary-color2: rgb(209, 143, 150);
  --pc1-rgba: rgba(236, 213, 207, 0.39);
  --font-color: rgb(72, 38, 48);
  --secondary-color: #e5e5e5;
  --sec-rgba: #e5e5e5f1;
  --portfolio-hover: #c0eb756b;
  --border-radius-50: 50%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--primary-color2);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3.5rem;
  margin-left: 36px;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  margin: 0;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--font-color);
  font-weight: 500;
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--primary-color1) 94%,
    transparent 100%
  );
  color: var(--font-color);
  text-decoration: none;
}

body,
.jumbotron {
  background: linear-gradient(
    90deg,
    var(--primary-color1),
    var(--primary-color2)
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--font-color);
}

/* navbar */

#navbarNav {
  justify-content: center;
}

.navbar-expand-lg {
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav {
  display: flex;
  gap: 32px;
}

/* JUMBOTRON */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 64px;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pc1-rgba);
  border-radius: var(--border-radius-50);
  background-color: var(--pc1-rgba);
}

.connect-btn {
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--pc1-rgba);
  font-size: 3rem;
  font-weight: 400;
}
/* MAIN */

.portfolio,
.skills,
.contact {
  display: flex;
  margin-right: 36px;
}

#about,
#portfolio,
#contact {
  flex-basis: 160px;
}
#content {
  margin-bottom: 48px;
}

/* skills */

.skills-ul li {
  margin-left: 32px;
}

/* portfolio grid */

.col-lg-9,
.col-md-8,
.col-sm-9 {
  padding: 0 !important;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 12px;
  grid-template-areas:
    "rp rp"
    "rp rp"
    "sky nl"
    "quiz piano ";
}

#rp {
  grid-area: rp;
}

#sky {
  grid-area: sky;
}

#nl {
  grid-area: nl;
}

#quiz {
  grid-area: quiz;
}

#piano {
  grid-area: piano;
}

.card-text {
  font-size: 1.2rem;
}

.card-img-rp {
  width: 100%;
  height: 350px;
}
.card-img-top {
  width: 100%;
  height: 150px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--portfolio-hover);
  cursor: pointer;
}

/* contact section */

.contact-flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
