:root {
  --primary-color1: rgb(236, 213, 207);
  --primary-color2: rgb(209, 143, 150);
  --pc1-rgba: rgba(236, 213, 207, 0.39);
  --font-color: rgb(72, 38, 48);
  --secondary-color: #e5e5e5;
  --sec-rgba: #e5e5e5f1;
  --portfolio-hover: #c0eb756b;
  --border-radius-10: 10px;
  --border-radius-50: 50%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--primary-color2);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-align: center;
}

h6 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  margin: 0;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--font-color);
  font-weight: 500;
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--primary-color1) 94%,
    transparent 100%
  );
  color: var(--font-color);
  text-decoration: none;
}

body,
.jumbotron {
  background: linear-gradient(
    90deg,
    var(--primary-color1),
    var(--primary-color2)
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--font-color);
}

/* navbar */

.navbar {
  padding: 2.5px 0 !important;
  background: linear-gradient(
    180deg,
    var(--primary-color2),
    var(--primary-color1)
  );
}

#navbarNav {
  justify-content: center;
}

.navbar-expand-lg {
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav {
  display: flex;
  gap: 64px;
}

.nav-link {
  color: var(--font-color) !important;
}

/* JUMBOTRON */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 64px;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pc1-rgba);
  border-radius: var(--border-radius-50);
  background-color: var(--pc1-rgba);
}

.connect-btn {
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--pc1-rgba);
  font-size: 3rem;
  font-weight: 400;
}

/* MAIN */

main {
  margin-left: 32px;
}
#content {
  border-left: 5px solid var(--primary-color2);
  border-radius: 5px;
}

.portfolio,
.skills,
.contact {
  display: flex;
  margin-right: 36px;
}

#about,
#portfolio,
#contact {
  flex-basis: 160px;
}
#content {
  margin-bottom: 48px;
}

/* skills */

.skills-ul li {
  margin-left: 20px;
  margin-bottom: 5px;
}

.skills-ul li:last-child {
  margin-bottom: 0;
}

/* portfolio grid */

.card,
.card-img-top {
  border-radius: var(--border-radius-10) var(--border-radius-10) 0 0;
}

.card-body {
  background: linear-gradient(90deg, var(--pc1-rgba), var(--sec-rgba), silver);
}

.card-text {
  font-size: 1.2rem;
  text-align: center;
}
.portfolio-grid {
  row-gap: 20px;
}
.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--portfolio-hover);
  cursor: pointer;
}

/* contact section */

.contact-flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icons {
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

i {
  font-size: 3rem;
  cursor: pointer;
}

/* footer */

footer {
  width: 100%;
  padding: 2.5px 0;
  background: linear-gradient(
    180deg,
    var(--primary-color1),
    var(--primary-color2)
  );
  height: 58px;
}

/* media queries */

@media screen and (max-width: 665px) {
  .container {
    gap: 32px;
  }

  h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  h2 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  .hero-image {
    height: 300px;
    width: 290px;
  }

  #about,
  #portfolio,
  #contact {
    flex-basis: 120px;
    font-size: 2.5rem;
  }

  p,
  li {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 485px) {
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  h2,
  .connect-btn {
    font-size: 2rem;
  }

  #about,
  #portfolio,
  #contact {
    flex-basis: 110px;
    font-size: 1.6rem;
    font-weight: 700;
  }

  h6 {
    font-size: 1.5rem;
  }

  h5,
  .mail-link {
    font-size: 1.5rem;
  }

  .hero-image {
    height: 300px;
    width: 290px;
  }

  p,
  li {
    font-size: 1.5rem;
  }

  .portfolio-grid {
    grid-template-rows: repeat(4, 100px);
  }

  .card-img-rp {
    width: 100%;
    height: 175px;
  }
  .card-img-top {
    width: 100%;
    height: 65px;
  }

  .card-body {
    overflow: hidden;
  }
}
